@using ComputerShopContracts.ViewModels

@model List<OrderViewModel>
@{
    ViewData["Title"] = "Orders";
}

<div class="text-center">
    <h1 class="display-4">Заказы</h1>
</div>

<div class="text-center">
    @{
        if (Model == null)
        {
            <h3 class="display-4">Авторизируйтесь</h3>
            return;
        }
        <p>
            <a class="btn btn-success" asp-action="OrderCreate">Создать заказ</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Наименование заказа
                    </th>
                    <th>
                        Процентная ставка  //TODO:
                    </th>
                    <th>
                        Изменение заказа
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOrder)
                        </td>

                        <-->Todo</-->>
                        <td>
                            <a class="btn btn-warning button-fixed button-sm" asp-action="OrderUpdate"
                            asp-route-orderId="@item.Id" asp-route-orderName="@item.OrderName" 
                            asp-route-orderDate="@item.DateOrder">Изменить</a>

                            <a class="btn btn-danger button-fixed button-sm" asp-action="OrderDelete" asp-route-orderId="@item.Id">Удалить</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>